 
 
<!--begin::Primary button-->
<a href="inventory.php?action=all_products" class="btn btn-sm btn-primary"> <li class="fa fa-arrow-left"></li> &nbsp; All Products </a>
<!--end::Primary button--> <!--begin::Primary button-->

<a href="inventory.php?action=category" class="btn btn-sm btn-secondary"> <li class="fa fa-plus"></li> Variance </a>
<!--end::Primary button-->
<!--begin::Primary button-->
<a href="inventory.php?action=category" class="btn btn-sm btn-secondary"> <li class="fa fa-bar-chart"></li>History</a>
<!--end::Primary button-->
